<table class="table table-borderless">
  <%= form_with model:post, local: true do |f| %>
    <tr>
      <td>画像</td>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <tr>
      <td>タイトル</td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td>詳細</td>
      <td><%= f.text_area :body %></td>
    </tr>
    <tr>
      <td>ジャンル名</td>
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></td>
    </tr>
    <tr>
      <td>価格</td>
      <td><%= f.text_field :price %></td>
    </tr>
    <tr>
      <td>所在地</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>タグ</td>
      <td>
        <%= f.text_field :tag_list, value: post.tag_list.join(',') %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit submit, class:"btn btn-info" %></td>
    </tr>
  <% end %>
</table>