<div class="posts">
  <div class="post article-list">
  <% posts.each do |post| %>
    <div class="post-content">
      <div class="post-index-image">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post.post_images[0], :image, :fill, 400, 330, fallback: "no_image.png", size:"400x330" %>
        <% end %>
      </div>
      <div class="post-text">
        <h3><%= post.title %></h3>
        <div class="post-genre-like">
        <h5><%= post.genre.name %></h5>
        <p class="likes"><%= image_tag "favorite2.png" %><%= post.favorites.count %></p>
        </div>
        <p><%= post.created_at.strftime("%Y/%m/%d") %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>