<div class="posts-rank">
  <% if @genre.present? %>
    <h1><i class="fas fa-crown"></i> <%= @genre.name %>のランキング</h1>
  <% else %>
    <h1><i class="fas fa-crown"></i> 全体のランキング</h1>
  <% end %>
  <% if @genre.present? %>
    <div class="posts-index-link">
      <% @no_genres.each do |genre| %>
        <div class="posts-index-genre-btn">
          <%= link_to posts_ranks_path(genre_id: genre.id) do %>
            <i class="fas fa-hand-point-right"></i> <%= genre.name %>のランキングはこちら
          <% end %>
        </div>
      <% end %>
      <div class="posts-index-btn">
        <%= link_to posts_ranks_path do %>
          <i class="fas fa-hand-point-right"></i> 全てのランキングはこちら
        <% end %>
      </div>
    <% else %>
      <% @genres.each do |genre| %>
        <div class="posts-index-genre-btn">
          <%= link_to posts_ranks_path(genre_id: genre.id) do %>
            <i class="fas fa-hand-point-right"></i> <%= genre.name %>のランキングはこちら
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= render "search_form", q: @q, tags: @tags %>
  <div class="post article-list">
    <% @all_ranks.each.with_index(1) do |post, i| %>
     <div class="post-content">
       <h4>第 <%= i %> 位</h4>
      <div class="post-image">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post.post_images[0], :image, :fill, 400, 330, fallback: "no_image.png", size:"400x330" %>
        <% end %>
      </div>
      <div class="post-text">
        <h4><%= post.title %></h4>
        <div class="post-genre-like">
        <p><%= post.genre.name %></p>
        <p class="likes"><%= image_tag "favorite2.png" %><%= post.favorites.count %></p>
        </div>
        <p><%= post.created_at.strftime("%Y/%m/%d") %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>