<div class="posts-rank">
  <h1>ランキング</h1>
  <div class="genre-rank">
    <% @genres.each do |genre| %>
      <div class="top-genres">
        <%= link_to posts_ranks_path(genre_id: genre.id) do %>
          <div class="top-genre btn btn-blue">
            <%= genre.name %>のランキング
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="post article-list">
    <% @all_ranks.each.with_index(1) do |post, i| %>
     <div class="post-content">
       <h4>第 <%= i %> 位</h4>
      <div class="post-image">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post.post_images[0], :image, :fill, 400, 330, fallback: "no_image.png", size:"400x330" %>
        <% end %>
      </div>
      <div class="post-text">
        <h4><%= post.title %></h4>
        <div class="post-genre-like">
        <p><%= post.genre.name %></p>
        <p class="likes"><%= image_tag "favorite2.png" %><%= post.favorites.count %></p>
        </div>
        <p><%= post.created_at.strftime("%Y/%m/%d") %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>