<div class="posts-rank">
  <h1>ランキング</h1>
  <div class="post">
    <% @all_ranks.each.with_index(1) do |post, i| %>
     <div class="post-content">
       <h4>第 <%= i %> 位</h4>
      <div class="post-image">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, :fill, 330, 250, fallback: "no_image.png" %>
        <% end %>
      </div>
      <div class="post-text">
        <h4><%= post.title %></h4>
        <div class="post-genre-like">
        <p><%= post.genre.name %></p>
        <p class="likes"><%= post.favorites.count %><i class="fas fa-heart"></i></p>
        </div>
        <p><%= post.created_at.strftime("%Y/%m/%d") %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>