<div class="container">

<h1>投稿詳細</h1>
  <div class="row mt-5">
    <div class="mx-auto">
      <%= attachment_image_tag @post, :image, :fill, 800, 500, fallback: "no_image.jpg" %>
    </div>
  </div>
  <div class="row mt-5">
    <h2><%= @post.title %></h2>
    <% if user_signed_in? %>
      <div class="favorites-btn-<%= @post.id %>">
        <%= render partial: "users/favorites/favorites-btn", locals: { post: @post} %>
      </div>
    <% else %>
        <p class="likes"><%= @post.favorites.count %><i class="fas fa-heart"></i></p>
    <% end %>
  </div>
  <% if @tags.present? %>
        <% @tags.each do |tag| %>
          <%= link_to "#{tag.name}(#{tag.taggings_count})", posts_tags_path(tag: tag.name) %>
        <% end %>
  <% end %>
  <table class="table table-bordered row mx-auto">
    <tr>
      <td class="table-active">詳細</td>
      <td><%= @post.body %></td>
    </tr>
    <tr>
      <td class="table-active">価格</td>
      <td><%= @post.price %></td>
    </tr>
    <tr>
      <td class="table-active">所在地</td>
      <td><%= @post.address %></td>
    </tr>
  </table>
    <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
        <%= link_to "投稿を編集する", edit_post_path(@post.id), class:"btn btn-success", data: {"turbolinks" => false} %>
      <% end %>
    <p><%= @post.user.name %>  <%= @post.created_at.strftime("%Y/%m/%d") %></p>
      <div class="comments mt-5">
        <h4>コメント入力フォーム</h4></br>
      <%= render partial: "users/comments/comments-form", locals: { post: @post, comment: @comment } %>
      </div>
    <% end %>
  <div class="comment-index">
    <%= render partial: "users/comments/comments-index", locals: { post: @post } %>
  </div>
</div>