<div class="main">
  <span class="sentimant-score">感情分析スコア[<%= @post.score %>]</span>
  <div class="post-show-images">
    <% if @post.post_images.present? %>
      <div class="post-show-images-slick">
        <% @post.post_images.each do |image| %>
          <div class="post-show-image">
            <%= attachment_image_tag image, :image %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="post-show-no">
        <%= image_tag "no_image.png", class:"post-show-no-image" %>
      </div>
    <% end %>
  </div>
  <div class="post-details">
    <h2><%= @post.title %></h2>
    <!--signinしている場合のみいいね可能-->
    <div class="post-time-likes">
    <p>
      <%= @post.user.name %>  <%= @post.created_at.strftime("%Y/%m/%d") %></br>
      <%= @post.genre.name %>
    </p>
    <% if user_signed_in? %>
      <div class="favorites-btn-<%= @post.id %>">
        <!--いいね機能の部分テンプレート-->
        <%= render "users/favorites/favorites-btn", { post: @post} %>
      </div>
    <% else %>
        <p class="likes"><%= image_tag "favorite2.png" %><%= @post.favorites.count %></p>
    <% end %>
    </div>
  </div>
  <% if @tags.present? %>
  <!--投稿についているタグを表示-->
    <div class="post-show-tags">
      <% @tags.each do |tag| %>
        <%= link_to "#{tag.name}(#{tag.taggings_count})", posts_tags_path(tag: tag.name) %>
      <% end %>
    </div>
  <% end %>
  <table class="table table-border">
    <% if @post.body.present? %>
    <tr>
      <td class="table-active">詳細</td>
      <td><%= @post.body %></td>
    </tr>
    <% end %>
    <% if @post.price.present? %>
    <tr>
      <td class="table-active">価格</td>
      <td><%= @post.price %></td>
    </tr>
    <% end %>
    <% if @post.address.present? %>
    <tr>
      <td class="table-active">所在地</td>
      <td><%= @post.address %></td>
    </tr>
    <% end %>
  </table>
  <!--signinしている場合のみ投稿編集可能-->
    <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
        <%= link_to "投稿を編集する", edit_post_path(@post.id), class:"btn btn-green" %>
      <% end %>
    <% elsif admin_signed_in? %>
      <%= link_to "投稿を削除する", post_path(@post.id), method: :delete, class:"btn btn-red", data: {confirm: "削除しますか？"} %>
    <% end %>
    <!--signinしている場合のみフォーム表示-->
    <% if user_signed_in? %>
      <h4 class="comment-form-btn comment-btn">　コメント入力フォーム　<i class="fas fa-chevron-circle-down"></i></h4>
        <!--コメントフォームの部分テンプレート-->
      <div class="comment-form">
        <%= render partial: "users/comments/comments-form", locals: { post: @post, comment: @comment } %>
      </div>
    <% end %>
  <h4 class="comment-index-btn comment-btn">　コメント一覧　<i class="fas fa-chevron-circle-down"></i></h4>
  <div class="comment-index">
    <!--コメント一覧の部分テンプレート-->
    <%= render partial: "users/comments/comments-index", locals: { post: @post } %>
  </div>
</div>