<div class="users-favorite">
  <h1>お気に入り</h1>
  <div class="post">
    <div class="post-content">
      <% @favorites.each do |favorite| %>
        <% post = Post.find_by(id: favorite.post_id) %>
        <div class="post-image">
          <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post, :image, :fill, 330, 250, fallback: "no_image.jpg" %>
          <% end %>
        </div>
        <div class="post-text">
          <h4><%= post.title %></h4>
          <div class="post-genre-like">
            <p><%= post.genre.name %></p>
            <p class="likes"><%= post.favorites.count %><i class="fas fa-heart"></i></p>
          </div>
          <p><%= post.created_at.strftime("%Y/%m/%d") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>