<div class="footer">
  <div class="footer-logo">
    <%= link_to "/", data: {"turbolinks" => false} do %>
      <%= image_tag "Tottottrip_logo.png", :size => "200x70" %>
    <% end %>
  </div>
  <div>
    <ul class="footer-list">
      <% if user_signed_in? %>
        <li><%= link_to "新規投稿", new_post_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "投稿一覧", posts_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "ランキング", posts_ranks_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "マイページ", mypage_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% elsif admin_signed_in? %>
        <li><%= link_to "投稿一覧", admins_posts_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "会員一覧", admins_users_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "ジャンル一覧", admins_genres_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Top", root_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "About", about_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "NewPost", posts_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "Ranking", posts_ranks_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "GuestLogin", users_guest_sign_in_path, method: :post, data: {"turbolinks" => false} %></li>
        <li><%= link_to "Login", new_user_session_path, data: {"turbolinks" => false} %></li>
        <li><%= link_to "SignUp", new_user_registration_path, data: {"turbolinks" => false} %></li>
      <% end %>
    </ul>
  </div>
</div>