<div class="footer">
  <div class="footer-logo">
    <%= link_to "/" do %>
      <%= image_tag "Tottottrip_logo.png", :size => "200x70" %>
    <% end %>
  </div>
  <div>
    <ul class="footer-list">
      <% if user_signed_in? %>
        <li><%= link_to "NewPost", new_post_path %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Ranking", posts_ranks_path %></li>
        <li><%= link_to "Mypage", mypage_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% elsif admin_signed_in? %>
        <li><%= link_to "Posts", admins_posts_path %></li>
        <li><%= link_to "Users", admins_users_path %></li>
        <li><%= link_to "Genres", admins_genres_path %></li>
        <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Ranking", posts_ranks_path %></li>
        <li><%= link_to "GuestLogin", users_guest_sign_in_path, method: :post %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "SignUp", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>