<!DOCTYPE html>
<html>
  <head>
    <title>Tottottrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <div id="splash">
        <div id="splash_text"></div>
      </div>
    <% end %>
    <header>
      <%= render "layouts/header" %>
    </header>
    <% if current_page?(root_path) %>
      <%= yield %>
    <% else %>
      <main>
        <%= yield %>
      </main>
    <% end %>
    <footer>
      <p id="page-top"><a href="#"></a></p>
    </div>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
